{% extends is_amp|yesno:"clinic/amp/base.html,clinic/base.html" %}
{% load carousel %}

{% if load_carousel or header_carousel %}
	{% block css %}
		{{ block.super }}
		{% carousel_css_tags header_carousel is_amp %}
	{% endblock %}

	{% block javascripts %}
		{{ block.super }}
		{% carousel_js_tags is_amp %}
		{% if is_amp %}
		<script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
		{% endif %}
	{% endblock %}
{% endif %}


{% block body %}
<div id="outer-wrapper">
  {% include 'clinic/includes/header.html' %}
    {% block content %}  {% endblock %}
  {% include 'clinic/includes/footer.html' %}
</div>
{% endblock %}
