.tab-content.tab-content-active {
	display: block;
}

.tabs-container img {
	height: max-content;
}

.tab-content img {
    float: left;
    margin: 0 32px 32px 0;
}
img {
    vertical-align: baseline;
}