{% load i18n %}
<footer class="site-footer">
	<div class="footer-widgets mdl-grid">
		<div class="mdl-cell mdl-cell--1-col"></div>
		<div class="mdl-layout mdl-layout__content mdl-cell mdl-cell--10-col">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--4-col mdl-cell--4-tablet mdl-cell--6-phone">
					<div class="foot-about">
						<h2>
							<a href="#">
								{% if is_amp %}
								<amp-img src="{{ MEDIA_URL }}{{ config.LOGO  }}" width="135" height="45" layout="fixed" alt=""></amp-img>
								{% else %}
								<img src="{{ MEDIA_URL }}{{ config.LOGO  }}" layout="fixed" alt=""></img>
								{% endif %}
							</a>
						</h2>
						{{ config.COPYRIGHT|safe }}
					</div>
				</div>
				<div class="mdl-cell mdl-cell--4-col mdl-cell--4-tablet mdl-cell--6-phone">
					<div class="foot-contact">
						<h2>{% trans "Contact" %}</h2>
						<ul>
							<li><span>{% trans "Address" %}:</span>{{ config.ADDRESS }}</li>
							<li><span>{% trans "Phone" %}:</span>{{ config.PHONE }}</li>
							<li><span>{% trans "Email" %}:</span>{{ config.EMAIL }}</li>
						</ul>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--4-col mdl-cell--4-tablet mdl-cell--6-phone">
					<div class="foot-links">
						<h2>{% trans "Usefull Links" %}</h2>
						<ul>
							<li><a href="#">{% trans "Home" %}</a></li>
							<li><a href="#">{% trans "About us" %}</a></li>
							<li><a href="#">{% trans "Departments" %}</a></li>
							<li><a href="#">{% trans "Contact" %}</a></li>
							<li><a href="#">{% trans "FAQ" %}</a></li>
							<li><a href="#">{% trans "Testimonials" %}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>