{% load i18n staticfiles carousel %}
<header class="site-header{% if extend_header %} wide{% endif %}{% if header_carousel %} carousel{% endif %}">
	<div class="nav-bar mdl-layout">
		<div class="mdl-layout__content">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
				<div class="header-layout mdl-cell mdl-cell--10-col mdl-grid">
					<div class="site-branding d-flex mdl-cell mdl-cell--2-col">
						<a class="d-block" href="index.html" rel="home">
							{% if is_amp %}
							<amp-img class="header-logo" layout="responsive" width="135" height="45" src="{{ MEDIA_URL }}{{ config.LOGO  }}" alt="logo"></amp-img>
							{% else %}
							<img class="header-logo" src="{{ MEDIA_URL }}{{ config.LOGO  }}" alt="logo">
							{% endif %}
						</a>
					</div>
					<nav class="site-navigation mdl-cell mdl-cell--10-col-desktop mdl-cell--3-col-tablet mdl-cell--5-col-phone">
						<ul id="header-menu" [class]="visibleMenus? 'present' : 'd-flex'" class="d-flex">
							<li class="mdl-layout-spacer"></li>

							<li class="current-menu-item"><a href="{% if is_amp %}{% url 'home' is_amp='amp/' %}{% else %}{% url 'home' %}{% endif %}">{% trans "Home" %}</a></li>
							<li><a href="{% if is_amp %}{% url 'about' is_amp='amp/' %}{% else %}{% url 'about' %}{% endif %}">{% trans "About us" %}</a></li>
							<li><a href="{% if is_amp %}{% url 'services' is_amp='amp/' %}{% else %}{% url 'services' %}{% endif %}">{% trans "Services" %}</a></li>
							<li><a href="">{% trans "News" %}</a></li>
							<li><a href="{% if is_amp %}{% url 'contact' is_amp='amp/' %}{% else %}{% url 'contact' %}{% endif %}">{% trans "Contact" %}</a></li>
							<li class="iconic-item">
								<div class="call-btn mdl-button mdl-button--accent mdl-cell mdl-cell--middle button gradient-bg mt-3 mt-md-0">
									<a class="d-flex" href="#">
										{% if is_amp %}
										<amp-img layout="fixed" width="32" height="32" src="{{ STATIC_URL }}site/images/theme/emergency-call.png"></amp-img>
										{%  else%}
										<img src="{{ STATIC_URL }}site/images/theme/emergency-call.png">
										{% endif %}
										{{ config.PHONE }}
									</a>
								</div>
							</li>
						</ul>
					</nav>
					<div class="hamburger-menu mdl-menu mdl-menu--top-right mdl-cell mdl-cell--middle mdl-cell--hide-desktop mdl-cell--1-col" role="button" tabindex="0" on="tap:AMP.setState({visibleMenus: !visibleMenus})">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if extend_header or header_carousel %}
	{% if header_carousel %}
		{% carousel header_carousel is_amp %}
	{% else %}
	<div class="mdl-layout__content mdl-cell">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--3-col"></div>
				<div class="mdl-cell mdl-cell--9-col">
					<h1>{{ page }}</h1>
					<div class="breadcrumbs">
						<ul class="d-flex">
							<li><a href="{% if is_amp %}{% url 'home' is_amp='amp/' %}{% else %}{% url 'home' %}{% endif %}">Home</a></li>
							<li>{{ page }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% if is_amp %}
		<amp-img width="50" height="50" class="header-img" src="{{ STATIC_URL }}site/images/theme/{{ page.split|join:'_'|lower }}-bg.png" layout="responsive"></amp-img>
		{% else %}
		<img class="header-img" src="{{ STATIC_URL }}site/images/theme/{{ page.split|join:'_'|lower }}-bg.png" alt="">
		{% endif %}
	</div>
	{% endif %}
	{% endif %}
</header>
