{% extends "clinic/layout.html" %}
{% load i18n staticfiles %}

{% block content %}
{% comment %} Boxes {% endcomment %}
<div class="homepage-boxes">
	<div class="container">
		<div class="mdl-grid">
			<div class="contact-info h-100 mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
				<h2 class="d-flex align-items-center">{% trans "Contact Info" %}</h2>
				<ul class="p-0 m-0">
					<li><span>Addtress:</span>{{ config.ADDRESS }}</li>
					<li><span>Phone:</span>{{ config.PHONE }}</li>
					<li><span>Email:</span>{{ config.EMAIL }}com</li>
				</ul>
			</div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
				<div class="opening-hours">
					<h2 class="d-flex align-items-center">{% trans "Opening Hours" %}</h2>
					<ul class="p-0 m-0">
						{% if config.MONDAY_WORKING_TIME %}<li>{% trans "Monday" %} <span>{{ config.MONDAY_WORKING_TIME }}</span></li>{% endif %}
						{% if config.TUESDAY_WORKING_TIME %}<li>{% trans "Tuesday" %} <span>{{ config.TUESDAY_WORKING_TIME }}</span></li>{% endif %}
						{% if config.WENDSDAY_WORKING_TIME %}<li>{% trans "Wendsday" %} <span>{{ config.WENDSDAY_WORKING_TIME }}</span></li>{% endif %}
						{% if config.THURSDAY_WORKING_TIME %}<li>{% trans "Thursday" %} <span>{{ config.THURSDAY_WORKING_TIME }}</span></li>{% endif %}
						{% if config.FRIDAY_WORKING_TIME %}<li>{% trans "Friday" %} <span>{{ config.FRIDAY_WORKING_TIME }}</span></li>{% endif %}
						{% if config.SATURDAY_WORKING_TIME %}<li>{% trans "Saturday" %} <span>{{ config.SATURDAY_WORKING_TIME }}</span></li>{% endif %}
						{% if config.SUNDAY_WORKING_TIME %}<li>{% trans "Sunday" %} <span>{{ config.SUNDAY_WORKING_TIME }}</span></li>{% endif %}
					</ul>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mt-5 mt-md-0">
				<div class="emergency-box h-100">
					<h2 class="d-flex align-items-center">{% trans "Emergency" %}</h2>
					<div class="call-btn button gradient-bg">
						<a class="d-flex justify-content-center align-items-center" href="#">
							<img src="{{ STATIC_URL }}site/images/theme/emergency-call.png">
							<span>{{ config.EMERGENCY_PHONE }}</span>
						</a>
					</div>
					<p>{{ config.EMERGENCY_TEXT|safe }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% comment %} Contact Form {% endcomment %}
<div class="contact-form">
	<div class="container">
		<form method="post" action='.'>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--12-col">
					<h2>{% trans "Get in Touch" %}</h2>
				</div>
				<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone col-12  col-md-4">
					{{ form.name }}
					{{ form.name.errors }}
				</div>
				<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
					{{ form.email }}
					{{ form.email.errors }}
				</div>
				<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
					{{ form.subject }}
					{{ form.subject.errors }}
				</div>
				<div class="mdl-cell mdl-cell--12-col">
					{{ form.message }}
					{{ form.message.errors }}
				</div>
				<div class="mdl-cell mdl-cell--12-col">
					{{ form.recaptcha }}
					{{ form.recaptcha.errors }}
				</div>
				<div class="mdl-cell mdl-cell--12-col">
					<input type="submit" name="" value="Send Message" class="button gradient-bg">
				</div>
			</div>
			{% if message %}
			<div class="success-message mdl-cell mdl-cell--12-col">
				<div>{{ message }}</div>
			</div>
			{% endif %}
		</form>
	</div>
</div>



{% comment %} Contact Form {% endcomment %}
<div class="container">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<div class="contact-page-map">
				<iframe id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</div>

{% endblock %}