{% extends "clinic/layout.html" %}
{% load i18n staticfiles %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}about_us/css/about_us.css">
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script lang="javascript" src="{{ STATIC_URL }}about_us/js/about_us.js"></script>
{% endblock %}


{% block content %}
{% comment %} About History {% endcomment %}
<div class="med-history">
	<div class="container">
		<div class="mdl-grid align-items-end">
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop">
				<h2>{{ history.title }}</h2>
				<p>{{ history.text }}</p>
				{% if history.details_link %}
				<a class="d-inline-block button gradient-bg" href="{{ history.details_link }}">{% trans "Read More" %}</a>
				{% endif %}
			</div>
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop mdl-cell--bottom mt-5 mt-lg-0">
				<img class="responsive" src="{{ history.image.url }}" alt="">
			</div>
		</div>
	</div>
</div>


{% comment %} About Faq & Stuff {% endcomment %}
<div class="faq-stuff">
	<div class="container">
		<div class="mdl-grid">
			<div class="mdl-cell--12-col">
				<h2>{% trans "Faq &amp; Stuff" %}</h2>
			</div>
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop mb-5 mb-lg-0">
				<div class="accordion-wrap type-accordion">
					{% for faq in faqs %}
					<h3 class="entry-title d-flex justify-content-between align-items-center{% if forloop.counter == 1 %} active{% endif %}">{{ faq.question }}<span class="arrow {% if forloop.counter == 1 %}arrow-d{% else %}arrow-r{% endif %}"></span></h3>
					<div class="entry-content{% if forloop.counter == 1 %} accordion-active{% endif %}">{{ faq.answer }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop mt-5 mt-lg-0">
				<div class="mdl-grid">
					{% for stuff in stuffs %}
					<div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-tablet mdl-cell--6-col-phone">
						<div class="stuff-box">
							<h2 class="d-flex align-items-center">{{ stuff.title }}</h2>
							<img width="50" height="50" layout="fixed" src="{{ stuff.logo.url }}" alt=""></img>
							<p>{{ stuff.description }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>


{% comment %} Medical Team {% endcomment %}
<div class="medical-team">
	<div class="container">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<h2>{% trans "The Medical Team" %}</h2>
			</div>
			{% for member in members %}
			<div class="mdl-cell mdl-cell--12-col-phone mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
				<div class="medical-team-wrap">
					<img src="{{ member.avatar.url }}" alt="">
					<h4>{{ member.name }}</h4>
					<h5>{{ member.degree }}</h5>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}