{% extends "clinic/layout.html" %}
{% load i18n staticfiles %}

{% block extra_head %}
{{ block.super }}
<link rel="canonical" href="/about/">
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}about_us/css/about_us.css">
{% endblock %}


{% block content %}
{% comment %} About History {% endcomment %}
<div class="med-history">
	<div class="container">
		<div class="mdl-grid align-items-end">
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop">
				<h2>{{ history.title }}</h2>
				<p>{{ history.text }}</p>
				{% if history.details_link %}
				<a class="d-inline-block button gradient-bg" href="{{ history.details_link }}">{% trans "Read More" %}</a>
				{% endif %}
			</div>
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop mdl-cell--bottom mt-5 mt-lg-0">
				<amp-img width="50" height="25" layout="responsive" class="responsive" src="{{ history.image.url }}" alt=""></amp-img>
			</div>
		</div>
	</div>
</div>


{% comment %} About Faq & Stuff {% endcomment %}
<div class="faq-stuff">
	<div class="container">
		<div class="mdl-grid">
			<div class="mdl-cell--12-col">
				<h2>{% trans "Faq &amp; Stuff" %}</h2>
			</div>
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop mb-5 mb-lg-0">
				<div class="accordion-wrap type-accordion">
					{% for faq in faqs %}
					<h3 role="tab" tabindex="{{ forloop.counter }}" class="entry-title d-flex justify-content-between align-items-center{% if forloop.counter == 1 %} active{% endif %}" on="tap:AMP.setState({visibleAnswer: {{ forloop.counter0 }} })">{{ faq.question }}<span [class]="visibleAnswer == {{ forloop.counter0 }}? 'arrow arrow-d' : 'arrow arrow-r'" class="arrow {% if forloop.counter == 1 %}arrow-d{% else %}arrow-r{% endif %}"></span></h3>
					<div [class]="visibleAnswer == {{ forloop.counter0 }}? 'entry-content accordion-active' : 'entry-content'" class="entry-content{% if forloop.counter == 1 %} accordion-active{% endif %}">{{ faq.answer }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop mt-5 mt-lg-0">
				<div class="mdl-grid">
					{% for stuff in stuffs %}
					<div class="mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
						<div class="professional-box">
							<h2 class="d-flex align-items-center">{{ stuff.title }}</h2>
							<amp-img width="50" height="50" layout="fixed" src="{{ stuff.logo.url }}" alt=""></amp-img>
							<p>{{ stuff.description }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>


{% comment %} Medical Team {% endcomment %}
<div class="medical-team">
	<div class="container">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<h2>{% trans "The Medical Team" %}</h2>
			</div>
			{% for member in members %}
			<div class="mdl-cell mdl-cell--12-col-phone mdl-cell--6-col-tablet mdl-cell--3-col-desktop">
				<div class="medical-team-wrap">
					<amp-img width="50" height="50" layout="responsive" src="{{ member.avatar.url }}" alt=""></amp-img>
					<h4>{{ member.name }}</h4>
					<h5>{{ member.degree }}</h5>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}