{% extends "clinic/layout.html" %}

{% load i18n staticfiles departmentsbox testimonials %}

{% block css %}
	{{ block.super }}
	{% departmentsbox_css_tags bg_image=departmentsbox_bg_image %}
	{% testimonials_css_tags bg_image=testimonials_bg_image %}
{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="canonical" href="/about/">
{% endblock %}

{% block content %}
{% comment %} About History {% endcomment %}
<div class="med-history">
	<div class="container">
		<div class="mdl-grid align-items-end">
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop">
				<h2>MedArt History</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. </p>
				<a class="d-inline-block button gradient-bg" href="#">Read More</a>
			</div>
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop mdl-cell--bottom mt-5 mt-lg-0">
				<amp-img width="320" height="320" layout="responsive" class="responsive" src="{{ STATIC_URL }}site/images/theme/about.jpg" alt="">
			</div>
		</div>
	</div>
</div>


{% comment %} About Faq & Stuff {% endcomment %}
<div class="faq-stuff">
	<div class="container">
		<div class="mdl-grid">
			<div class="mdl-cell--12-col">
				<h2>Faq &amp; Stuff</h2>
			</div>
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop mb-5 mb-lg-0">
				<div class="accordion-wrap type-accordion">
				<h3 class="entry-title d-flex justify-content-between align-items-center active">Elit mir congue ligula et efficitur pellentesqu<span class="arrow-d"></span></h3>
					<div class="entry-content accordion-active" style="display: block;">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
					</div>
					<h3 class="entry-title d-flex justify-content-between align-items-center">Pulvinar elit mi. Integer congue ligula et efficitur <span class="arrow-r"></span></h3>
					<div class="entry-content" style="display: none;">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
					</div>
					<h3 class="entry-title d-flex justify-content-between align-items-center">Pellentesque pulvinar elit mi. Integer congue<span class="arrow-r"></span></h3>
					<div class="entry-content" style="display: none;">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
					</div>
				</div>
			</div>
			<div class="mdl-cell--12-col mdl-cell--6-col-desktop mt-5 mt-lg-0">
				<div class="mdl-grid">
					<div class="mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
						<div class="professional-box">
							<h2 class="d-flex align-items-center">Professional</h2>
							<amp-img width="32" height="32" layout="fixed" src="{{ STATIC_URL }}site/images/theme/cardiogram-2.png" alt="">
							<p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem.</p>
						</div>
					</div>
					<div class="mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
						<div class="quality-box">
							<h2 class="d-flex align-items-center">Quality</h2>
							<amp-img width="32" height="32" layout="fixed" src="{{ STATIC_URL }}site/images/theme/hospital.png" alt="">
							<p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% comment %} Medical Team {% endcomment %}
<div class="medical-team">
	<div class="container">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<h2>The Medical Team</h2>
			</div>
			<div class="mdl-cell mdl-cell--12-col-phone mdl-cell--6-col-tablet mdl-cell--3-col-desktop">
				<div class="medical-team-wrap">
					<amp-img width="32" height="32" layout="responsive" src="{{ STATIC_URL }}site/images/theme/team-1.jpg" alt="">
					<h4>Christinne Smith</h4>
					<h5>PHD Surgeon</h5>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--12-col-phone mdl-cell--6-col-tablet mdl-cell--3-col-desktop mt-5 mt-md-0">
				<div class="medical-team-wrap">
					<amp-img width="32" height="32" layout="responsive" src="{{ STATIC_URL }}site/images/theme/team-2.jpg" alt="">
					<h4>Anna Gustav</h4>
					<h5>PHD Surgeon</h5>
			 	</div>
			</div>
			<div class="mdl-cell mdl-cell--12-col-phone mdl-cell--6-col-tablet mdl-cell--3-col-desktop mt-5 mt-lg-0">
				<div class="medical-team-wrap">
					<amp-img width="32" height="32" layout="responsive" src="{{ STATIC_URL }}site/images/theme/team-3.jpg" alt="">
					<h4>Phillip Williams</h4>
					<h5>PHD Surgeon</h5>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--12-col-phone mdl-cell--6-col-tablet mdl-cell--3-col-desktop mt-5 mt-lg-0">
				<div class="medical-team-wrap">
					<amp-img width="32" height="32" layout="responsive" src="{{ STATIC_URL }}site/images/theme/team-4.jpg" alt="">
					<h4>Gina James</h4>
					<h5>PHD Surgeon</h5>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}