{% extends "clinic/layout.html" %}
{% load i18n staticfiles departmentsbox %}

{% block extra_head %}
{{ block.super }}
<link rel="amphtml" href="/services/amp/">
{% endblock %}

{% block css %}
	{{ block.super }}
	{% departmentsbox_css_tags bg_image=departmentsbox_bg_image %}
{% endblock %}

{% block content %}
{% comment %} Only Top Quality Services {% endcomment %}
<div class="quality-services">
	<div class="container">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<h2>Only Top Quality Services</h2>
				<div class="mdl-grid">
					<div class="mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem ma ximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, malesuada viverra accumsan leo.</p>
					</div>
					<div class="mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
						<p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo.</p>
					</div>
				</div>
				<div class="mdl-grid w-100 text-center mt-5">
					<a class="button gradient-bg" href="#">Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>



{% comment %} Our Departments {% endcomment %}
{% departmentsbox %}



{% comment %} XXX {% endcomment %}
<div class="container">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<div class="services-tabs">
				<div class="tabs">
					<ul class="tabs-nav d-flex flex-wrap">
						<li class="tab-nav d-flex justify-content-center align-items-center active" data-target="#tab_1">Pellentesque pulvinar</li>
						<li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_2"> Pellentesque lacinia </li>
						<li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_3">Consectetur diam</li>
						<li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_4">CMauris tortor</li>
						<li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_5">Phasellus sit amet</li>
					</ul>
					<div class="tabs-container">
						<div id="tab_1" class="tab-content" style="display: block;">
							<img src="{{ STATIC_URL }}site/images/theme/service-tab-img.png" alt="">
							<h4>Scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>
							<p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
						</div>
						<div id="tab_2" class="tab-content" style="display: none;">
							<img src="{{ STATIC_URL }}site/images/theme/service-tab-img.png" alt="">
							<h4>Scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>
							<p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
						</div>
						<div id="tab_3" class="tab-content" style="display: none;">
							<img src="{{ STATIC_URL }}site/images/theme/service-tab-img.png" alt="">
							<h4>Scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>
							<p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
	 					</div>
						<div id="tab_4" class="tab-content" style="display: none;">
							<img src="{{ STATIC_URL }}site/images/theme/service-tab-img.png" alt="">
							<h4>Scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>
							<p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
						</div>
						<div id="tab_5" class="tab-content" style="display: none;">
							<img src="images/service-tab-img.png" alt="">
							<h4>Scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </h4>
							<p>Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non, viverra accumsan leo. Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
